<h1 class="center light-blue-text text-lighten-3">Family Members </h1>
<h5>
 <ol>
    <% @current_users_family_members.each do |family|%>
    <li><a href="/familymembers/<%=family.id%>"> <%= family.name %> </a> </li>
    <% end %>
 </ol> 
</h5>
<br>
<a href="familymembers/new" class="fun btn light-blue lighten-3"><i class="material-icons">person</i>Add a Family Member</a><br>

