<h1 class="center">Family Members </h1>
<ol><% @current_user.each do |family|%>
    <li><a href="/familymembers/<%=family.id%>"> <%= family.name %> </a> </li>
<% end %></ol>
<br>
<a href="familymembers/new" class="btn light-blue lighten-3"><i class="material-icons">person</i>Add a Family Member</a><br>

