<h1>Family Members </h1>
<ol><% @current_user.each do |family|%>
    <li><a href="/familymembers/<%=family.id%>"> <%= family.name %> </a> </li>
<% end %></ol>
<br>
<a href="familymembers/new"> add a family member </a> <br>
<br>
<a href='/logout'>log out </a>
